@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@110,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

/* Font used for ``inline code``, should match body sans-serif. */
code {
  font-family: 'DM Mono', monospace;
}

/* Disable scroll on anchor. */
html {
  scroll-behavior: auto;
}

body {
  font-family: 'DM Sans', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--body-color);
}

/* Make the search bar query text readable in dark theme. */
body[data-theme="dark"] {
  --color-sidebar-search-foreground: white;
}
@media (prefers-color-scheme: dark) {
  body[data-theme="auto"] {
    --color-sidebar-search-foreground: white;
  }
}

.schema-small {
  font-size: 93%;
}

.caption-small {
  font-size: 85%;
}

.sidebar-brand-text {
  display: none;
}

h1 {
  font-size: 300%;
  font-family: 'DM Sans', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 600;
  color: var(--primary-header-color);
  margin-top: 1em;
}

h2,h3,h4,h5,h6,legend {
  font-family: 'DM Sans', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  color: var(--secondary-header-color);
}

h2 {
  margin-top: 1.2em;
  margin-bottom: 0.75em;
}

h3 {
  margin-top: 0.75em;
  margin-bottom: 0.5em;
}

h4 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

/* Paragraph margins don't apply to table cell contents. */
.rst-content table.docutils td>p {
  margin-top: 0;
}

/* Set padding of in-line highlighted text. */
.rst-content div[class^=highlight] pre {
  padding: 6px;
}

/* Don't change color of visited links.
.rst-content a.reference:visited {
  color: var(--rst-content-a-color);
} */

.rst-content code, .rst-content tt {
  font-size: 90%;
  padding: inherit;
  border: inherit;
}

.rst-content table.align-default {
  margin-left: auto;
  margin-right: auto;
}

ul.simple {
  list-style: disc;
  margin-left: 24px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul.simple li {
  list-style: disc;
}

ol {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Change background color of the nav bars. */
.wy-side-nav-search,
.wy-nav-top,
.wy-nav-side {
  background-color: var(--wy-nav-side-background-color);
}

/* Make text wrap in table cells. */
.wy-table-responsive table td,
.wy-table-responsive table th {
  white-space: normal;
}

html.writer-html5 .rst-content table.docutils td>p,
html.writer-html5 .rst-content table.docutils th>p {
  line-height: normal;
}

.wy-menu-vertical li.toctree-l1>a {
  font-size: 115%;
}

.wy-menu-vertical li.toctree-l1.current>a {
  font-weight: 700;
}

/* Change color of TOC text. */
.wy-menu-vertical a,
.wy-menu-vertical li.current a,
.wy-menu-vertical li.current a:hover,
.wy-menu-vertical li>a span.toctree-expand,
.wy-menu-vertical li>a:hover span.toctree-expand,
.wy-menu-vertical li.current>a span.toctree-expand,
.wy-menu-vertical li.current>a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l2 a span.toctree-expand,
.wy-menu-vertical li.toctree-l3 a span.toctree-expand,
.wy-menu-vertical li.toctree-l4 a span.toctree-expand,
.wy-menu-vertical li.toctree-l5 a span.toctree-expand,
.wy-menu-vertical li.toctree-l6 a span.toctree-expand,
.wy-menu-vertical li.toctree-l7 a span.toctree-expand,
.wy-menu-vertical li.toctree-l8 a span.toctree-expand,
.wy-menu-vertical li.toctree-l9 a span.toctree-expand,
.wy-menu-vertical li.toctree-l10 a span.toctree-expand,
.wy-menu-vertical li.toctree-l2 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l3 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l4 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l5 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l6 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l7 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l8 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l9 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l10 a:hover span.toctree-expand {
  color: var(--wy-menu-vertical-color);
}

/* Change color of TOC background. */
.wy-menu-vertical li a:hover,
.wy-menu-vertical li.current,
.wy-menu-vertical li.current>a,
.wy-menu-vertical li.current a:hover,
.wy-menu-vertical li.toctree-l1.current>a,
.wy-menu-vertical li.toctree-l2.current>a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a,
.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a,
.wy-menu-vertical li.toctree-l4.current li.toctree-l5>a,
.wy-menu-vertical li.toctree-l5.current li.toctree-l6>a,
.wy-menu-vertical li.toctree-l6.current li.toctree-l7>a,
.wy-menu-vertical li.toctree-l7.current li.toctree-l8>a,
.wy-menu-vertical li.toctree-l8.current li.toctree-l9>a,
.wy-menu-vertical li.toctree-l9.current li.toctree-l10>a {
  background-color: var(--wy-menu-vertical-background-color);
  border: none;
}

/* Table with top-aligned cell contents. */
table.aligntop > tbody {
  vertical-align: top;
}


/* Alternate row colors. */
table.docutils:not(.mjcf-attributes) > tbody > tr.row-odd {
  background-color: var(--row-odd-background-color);
}

/* MJCF attributes table. */
table.mjcf-attributes {
  border-style: none;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  box-shadow: none;
}

table.mjcf-attributes tbody tr td,
table.mjcf-attributes tbody tr:nth-child(2n-1) td {
  border-style: none;
  padding: 0 0 0 0;
  width: 25%;
}

table.mjcf-attributes tbody tr td p {
  margin: 0;
}

.table-wrapper.mjcf-attributes {
  margin: 0.5em;
  padding: 0;
}

table td > div.wy-table-responsive {
  margin-bottom: 0;
}

/* Remove vertical spacing before/after code blocks. */
div[class*=" highlight-"], div[class^=highlight-] {
  margin: 0;
}

/* MJCF element names. */
.el {
  font-weight: bold;
}

/* MJCF attribute names. */
.at {
  color: var(--at-color);
}

dt .at {
  font-weight: 600;
}

/* MJCF attribute value specs. */
.at-val {
  color: var(--at-val-color);
  font-weight: normal;
}

/* Hide the prefix for XML element names, but only in toctree */
.toctree-l1 .el-prefix {
  display: none;
}

.admonition p:not(.admonition-title) {
  margin-left: 0.5em;
}

/* Reduce top and bottom margins around displayed KaTeX equations */
.katex-display {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

/* Adjust margins around code blocks */
.highlight pre {
  margin-top: -0.3em;
  margin-bottom: -0.3em;
  margin-left: -0.5em;
  margin-right: -0.5em;
}

details summary {
  font-weight: 600;
}
