@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital,wght@0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital,wght@0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap');

body {
  font-family: 'DM Sans', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgb(20, 35, 75);
}

.rst-content .toctree-wrapper>p.caption,h1 {
  font-size: 250%;
  font-family: 'DM Serif Display', 'Times New Roman', serif;
  font-weight: 400;
  color: rgb(0, 83, 214);
}

.rst-content .toctree-wrapper>p.caption,h2,h3,h4,h5,h6,legend {
  font-family: 'DM Sans', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  color: rgb(18, 54, 147);
}

/* Decrease bottom margin of some headings for tighter vertical spacing. */
.rst-content h2 {
  margin-bottom: 20px;
}
.rst-content h3 {
  margin-bottom: 10px;
}
.rst-content h4 {
  margin-bottom: 5px;
}

/* Paragraph margins don't apply to table cell contents. */
.rst-content table.docutils td>p {
  margin-top: 0px;
}

/* Set padding of in-line highlighted text. */
.rst-content div[class^=highlight] pre {
  padding: 6px;
}

/* Don't change color of visited links. */
.rst-content a.reference:visited {
  color: #2980b9;
}

.rst-content code, .rst-content tt {
  font-size: 90%;
  padding: inherit;
  border: inherit;
}

.rst-content table.align-default {
  margin-left: auto;
  margin-right: auto;
}

ul.simple {
  list-style: disc;
  margin-left: 24px;
}

ul.simple li {
  list-style: disc;
}

/* Change background color of the nav bars. */
.wy-side-nav-search,
.wy-nav-top,
.wy-nav-side {
  background-color: rgb(0, 83, 214);
}

/* Make text wrap in table cells. */
.wy-table-responsive table td,
.wy-table-responsive table th {
  white-space: normal;
}

html.writer-html5 .rst-content table.docutils td>p,
html.writer-html5 .rst-content table.docutils th>p {
  line-height: normal;
}

.wy-menu-vertical li.toctree-l1>a {
  font-size: 115%;
}

.wy-menu-vertical li.toctree-l1.current>a {
  font-weight: 700;
}

/* Change color of TOC text. */
.wy-menu-vertical a,
.wy-menu-vertical li.current a,
.wy-menu-vertical li.current a:hover,
.wy-menu-vertical li>a span.toctree-expand,
.wy-menu-vertical li>a:hover span.toctree-expand,
.wy-menu-vertical li.current>a span.toctree-expand,
.wy-menu-vertical li.current>a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l2 a span.toctree-expand,
.wy-menu-vertical li.toctree-l3 a span.toctree-expand,
.wy-menu-vertical li.toctree-l4 a span.toctree-expand,
.wy-menu-vertical li.toctree-l5 a span.toctree-expand,
.wy-menu-vertical li.toctree-l6 a span.toctree-expand,
.wy-menu-vertical li.toctree-l7 a span.toctree-expand,
.wy-menu-vertical li.toctree-l8 a span.toctree-expand,
.wy-menu-vertical li.toctree-l9 a span.toctree-expand,
.wy-menu-vertical li.toctree-l10 a span.toctree-expand,
.wy-menu-vertical li.toctree-l2 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l3 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l4 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l5 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l6 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l7 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l8 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l9 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l10 a:hover span.toctree-expand {
  color: white;
}

/* Change color of TOC background. */
.wy-menu-vertical li a:hover,
.wy-menu-vertical li.current,
.wy-menu-vertical li.current>a,
.wy-menu-vertical li.current a:hover,
.wy-menu-vertical li.toctree-l1.current>a,
.wy-menu-vertical li.toctree-l2.current>a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a,
.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a,
.wy-menu-vertical li.toctree-l4.current li.toctree-l5>a,
.wy-menu-vertical li.toctree-l5.current li.toctree-l6>a,
.wy-menu-vertical li.toctree-l6.current li.toctree-l7>a,
.wy-menu-vertical li.toctree-l7.current li.toctree-l8>a,
.wy-menu-vertical li.toctree-l8.current li.toctree-l9>a,
.wy-menu-vertical li.toctree-l9.current li.toctree-l10>a {
  background-color: rgb(0, 83, 214);
  border: none;
}

/* MJCF attributes table. */
.rst-content table.mjcf-attributes {
  border-style: none;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.rst-content table.mjcf-attributes:not(.field-list) tr td,
.rst-content table.mjcf-attributes:not(.field-list) tr:nth-child(2n-1) td {
  border-style: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px 0px 0px 0px;
  width: 33%;
}

table td > div.wy-table-responsive {
  margin-bottom: 0px;
}

/* MJCF element names. */
.el {
  font-weight: bold;
}

/* MJCF attribute names. */
.at {
  color: darkred;
}

/* MJCF attribute value specs. */
.at-val {
  color: darkred;
  font-weight: normal;
}

/* Hide the prefix for XML element names, but only in toctree */
.toctree-l1 .el-prefix {
  display: none;
}
