Sphinx==5.3.0
furo==2022.9.29
sphinxcontrib-bibtex==2.6.3
sphinxcontrib-katex==0.9.4
sphinxcontrib-youtube==1.2.0
sphinx-copybutton==0.5.2
sphinx-favicon==1.0.1
sphinx-reredirects==0.1.1
sphinx-toolbox==3.8.2
nbsphinx==0.9.1
pandoc==1.1.0
pygments==2.15.0
jq==1.8.0
Jinja2~=3.0
wheel
# see https://github.com/aws/aws-sam-cli/issues/3661 regarding markupsafe
markupsafe==2.0.1
