<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>mjpython</string>
    <key>CFBundleIdentifier</key>
    <string>org.mujoco.mjpython</string>
    <key>CFBundleVersion</key>
    <string>2.3.6</string>
    <key>CFBundleGetInfoString</key>
    <string>2.3.6</string>
    <key>CFBundleLongVersionString</key>
    <string>2.3.6</string>
    <key>CFBundleShortVersionString</key>
    <string>2.3.6</string>
    <key>CFBundleExecutable</key>
    <string>mjpython</string>
    <key>CFBundleIconFile</key>
    <string>mjpython.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2023 DeepMind Technologies Limited.</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>
</dict>
</plist>
